---
import PortfolioLayout from "../layouts/PortfolioLayout.astro"
---

<PortfolioLayout title="Not Found">
  <div class="h-screen w-full flex items-center justify-center bg-gray-900">
    <h1 class="text-md sm:text-2xl lg:text-3xl">
      <span class="font-bold text-orange-500">404</span>, You are lost. Let me take you
      back <a class="text-sky-500 hover:text-sky-400 underline" href="/">home</a>
    </h1>
  </div>
</PortfolioLayout>
