---
import Icon from "@assets/Icon.astro"
---

<section id="footer" class="h-min w-full bg-gray-700">
  <div class="flex max-w-5xl items-end sm:mx-auto">
    <div class="w-min px-8 py-6 sm:ml-auto">
      <p class="text-md my-2 w-max font-bold">Find me on,</p>
      <div class="flex w-max gap-3">
        <a
          href="mailto:Aakash Singh <mail@singhaakash.dev>?body=Hi Aakash,"
          target="_blank"
          rel="noopener"
        >
          <Icon name="gmail" class="h-10 w-10 hover:text-sky-300" />
        </a>
        <a href="https://github.com/sainak" target="_blank" rel="noopener">
          <Icon name="github" class="h-10 w-10 hover:text-sky-300" />
        </a>
        <a
          href="https://www.linkedin.com/in/aakashdsingh/"
          target="_blank"
          rel="noopener"
        >
          <Icon name="linkedin" class="h-10 w-10 hover:text-sky-300" />
        </a>
        <a href="https://twitter.com/singhaakash28" target="_blank" rel="noopener">
          <Icon name="twitter" class="h-10 w-10 hover:text-sky-300" />
        </a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          <Icon name="youtube" class="h-10 w-10 hover:text-sky-300" />
        </a>
      </div>
    </div>
  </div>
  <p class="sm:text-md mt-2 w-full bg-gray-600 py-2 text-center text-sm">
    Support the web by using a browser that respects your privacy. I recommend <a
      href="https://getfirefox.com/"
      target="_blank"
      rel="noopener"
      class="text-orange-500"
    >
      Firefox
    </a>.
  </p>
</section>
